*,
body {
  margin: 0;
  padding: 0;
}

.judul {
  display: flex;
  justify-content: center;
}

.lampu {
  padding: 20px;
  background-color: antiquewhite;
}

.tblamp {
  padding: 20px;
}

.change {
  background-color: aqua;
  padding: 20px;
}

.kontener {
  height: 100vh;
  background-color: aqua;
  display: block;
  justify-content: center;
  align-items: center;
}

.background {
  height: 200px;
  width: 400px;
  background-color: green;
  border-radius: 20px;
}

.pembuka {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 30px;
  padding-right: 50%;
  font-size: 25px;
  padding-bottom: 20px;
}

.penjelasan {
  padding-left: 25px;
}

.penjelasan2 {
  padding-left: 25px;
}
